.listContainer{
    background-color: #333;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    height: auto;
    margin-bottom: 17px;
  }


.row-head {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    background: #fff;
    width: 100%;
    margin-left: 0;
}

.row-body {
    font-size: 14px;
    color: #FFF;
    background: #333;
    width: 100%;
    margin-left: 0;
}

div .card-header {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 25px;
}

div.card-body {
    padding-top: 25px;
}